__pycache__/
Data/Cglutanicum_phenotypes/Corynebacterium glutamicum
Modules/PAM_parametrizer/__pycache__/
*/__pycache__/
*.ipynb_checkpoints
Scripts/i3_analysis/.ipynb_checkpoints
Scripts/SoF1
*.pyc
*.~lock.
*.xlsx#