__pycache__/
Data/Cglutamicum_phenotypes/Corynebacterium glutamicum
Modules/PAMparametrizer/PAM_parametrizer/__pycache__/
Scripts/scratch.py
*/__pycache__/
*.ipynb_checkpoints
Scripts/i3_analysis/.ipynb_checkpoints
Scripts/SoF1
*.pyc
*.~lock.
*.xlsx#
*[tT]urn[uU]p*
Modules/build
Modules/PAMparametrizer.egg-info